<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Index</title>
</head>

<body>
	<h1>User Registration Form</h1>
	<h2>Please select Login/SignUp</h2>
	<form action ="home" method = "post">
	<label form="select">New Registration : </label> <br />
	<select name = "status">
		<option value ="select">Select</option>
		<option value ="login">Login</option>
		<option value = "signup">SignUp</option>		
	</select>
	<br/>
	<button type = "submit">Submit</button>	
	</form>
	</body>
</html>