<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	<form action=signUp method="post">
		<label form="username">User Name</label>
		<input type="text" name="username"><br/>
		<br/>
		<label form="password">Password</label>
		<input type="text" name="password"><br/>
		<br/>
		<label form = "course">Course</label>
		<select name = "select">
		<option>ECE</option>
		<option>EEE</option>
		<option>MECH</option>			
		</select>
		<br/>
		<br/>
		<button type = "submit">Register</button>
	</form>
</body>
</html>